body {
  background-color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-left: 150px;
  padding-right: 150px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section1 {
  /*max-height:100vh;*/
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 50px;
  height: 400px;
}

.section2 {
  background-color: hsl(184, 100%, 22%);
  padding: 50px;
  height: 400px;
  max-height: 500px;
}

.section3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 50px;
  height: 400px;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  text-transform: uppercase;
}

p {
  color: hsl(0, 0%, 95%);
  letter-spacing: 1px;
  padding: 10px;
  line-height: 25px;
}

.btn {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 45px;
  padding: 10px;
}

.btn:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-3px);
}

.attribution {
}

@media (max-width: 1049px) {
  body {
    padding: 20px;
    padding-top: 100px;
  }
  .section1 {
    padding: 20px;
    height: 450px;
  }
  .section2 {
    padding: 20px;
    height: 450px;
  }
  .section3 {
    padding: 20px;
    height: 450px;
  }
}

@media (max-width: 585px) {
  section {
    display: flex;
    flex-direction: column;
  }
  .section1 {
    max-width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .section2 {
    width: 80%;
  }
  .section3 {
    width: 80%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
